[run]
branch = True
source = sanic
omit =
    site-packages
    sanic/application/logo.py
    sanic/application/motd.py
    sanic/cli
    sanic/__main__.py
    sanic/reloader_helpers.py
    sanic/simple.py
    sanic/utils.py

[html]
directory = coverage

[report]
exclude_lines =
    no cov
    no qa
    noqa
    NOQA
    pragma: no cover
