version = 1

test_patterns = ["tests/**"]

exclude_patterns = ["docker/**", "docs/**", "examples/**", "scripts/**"]

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  runtime_version = "3.x.x"
