# Non Code related contents
include LICENSE
include README.rst
include pyproject.toml
include NOX_COMMANDS.md

# Tests
include .coveragerc
graft tests

global-exclude __pycache__
global-exclude *.py[co]