# Non Code related contents
include LICENSE
include README.rst
include pyproject.toml

# Setup
include setup.py
include Makefile

# Tests
include .coveragerc
graft tests

global-exclude __pycache__
global-exclude *.py[co]