/** BasePage **/

:root {
    --sanic: #ff0d68;
    --sanic-blue: #0369a1;
    --sanic-yellow: #ffde41;
    --sanic-purple: #7e22ce;
    --sanic-green: #4d7c0f;
    --sanic-background: #f1f5f9;
    --sanic-text: #1f2937;
    --sanic-tab-background: #fff;
    --sanic-tab-text: #0f172a;
    --sanic-tab-shadow: #adadad;
    --sanic-highlight-background: var(--sanic-yellow);
    --sanic-highlight-text: var(--sanic-text);
    --sanic-header-background: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --sanic: #ff0d68;
        --sanic-blue: #f08d49;
        --sanic-yellow: #ffde41;
        --sanic-purple: #cc99cd;
        --sanic-green: #7ec699;
        --sanic-background: #2d2d2d;
        /*--sanic-background: #111;*/
        --sanic-text: #e7e7e7;
        --sanic-tab-background: #484848;
        --sanic-tab-text: #e1e1e1;
        --sanic-tab-shadow: #000;
        --sanic-highlight-background: var(--sanic-yellow);
        --sanic-highlight-text: #000;
        --sanic-header-background: #000;
    }
}

html {
    font: 16px sans-serif;
    background: var(--sanic-background);
    color: var(--sanic-text);
    scrollbar-gutter: stable;
    overflow: hidden auto;
}

body {
    margin: 0;
    font-size: 1.25rem;
    line-height: 125%;
}

body > * {
    padding: 1rem 2vw;
}

@media (max-width: 1000px) {
    body > * {
        padding: 0.5rem 1.5vw;
    }

    html {
        /* Scale everything by rem of 6px-16px by viewport width */
        font-size: calc(6px + 10 * 100vw / 1000);
    }
}

main {
    min-height: 70vh; /* Make sure the footer is closer to bottom */
    padding: 1rem 2.5rem; /* Generous padding for readability */
}

.smalltext {
    font-size: 1.0rem;
}

.container {
    min-width: 600px;
    max-width: 1600px;
}

header {
    background: #111;
    color: #e1e1e1;
    border-bottom: 1px solid #272727;
    text-align: center;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-top: 2rem;
}

h1 {
    text-align: left;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
    color: #88f;
}

a:hover,
a:focus {
    text-decoration: underline;
    outline: none;
}


span.icon {
    margin-right: 1rem;
}

#logo-simple {
    height: 1.75rem;
    padding: 0 0.25rem;
}


@media (prefers-color-scheme: dark) {
    #logo-simple path:last-child {
        fill: #e1e1e1;
    }
}
