/** BasePage **/
html {
    font: 16px sans-serif;
    background: #eee;
    color: #111;
}

body {
    margin: 0;
    font-size: 1.25rem;
    --sanic: #ff0d68;
    --sanic-blue: #0092FF;
    --sanic-yellow: #FFE900;
    --sanic-purple: #833FE3;
    --sanic-green: #16DB93;
}

body>* {
    padding: 1rem 2vw;
}

@media (max-width: 1000px) {
    body>* {
        padding: 0.5rem 1.5vw;
    }

    html {
        /* Scale everything by rem of 6px-16px by viewport width */
        font-size: calc(6px + 10 * 100vw / 1000);
    }
}
main {
    min-height: 70vh;  /* Make sure the footer is closer to bottom */
}
.smalltext {
    font-size: 1.0rem;
}

.container {
    min-width: 600px;
    max-width: 1600px;
}

header {
    background: #111;
    color: #e1e1e1;
    border-bottom: 1px solid #272727;
    text-align: center;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-top: 2rem;
}

h1 {
    text-align: left;
}

h2 {
    margin: 1em 0 0.5em 0;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
    color: #88f;
}

a:hover,
a:focus {
    text-decoration: underline;
    outline: none;
}


span.icon {
    margin-right: 1rem;
}

#logo-simple {
    height: 1.75rem;
    padding: 0 0.25rem;
}


@media (prefers-color-scheme: dark) {
    html {
        background: #111;
        color: #ccc;
    }

    #logo-simple path:last-child {
        fill: #e1e1e1;
    }
}
