/** ErrorPage **/
#enduser {
    max-width: 30em;
    margin: 5em auto 5em auto;
    text-align: justify;
}

#enduser a {
    color: var(--sanic-link);
}

#enduser p:last-child {
    text-align: right;
}

summary {
    margin-top: 3em;
    color: var(--sanic-text-lighter);
    cursor: pointer;
}

h2 {
    font-size: 1.3rem;
    color: var(--sanic-text);
}

.key-value-display,
.exception-wrapper {
    padding: 0.5rem;
    margin-top: 1rem;
}

.key-value-display {
    background-color: var(--sanic-block-background);
    color: var(--sanic-block-text);
}

.key-value-display h2 {
    margin-bottom: 0.2em;
}

dl.key-value-table {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: .3em;
    white-space: pre-wrap;
}

dl.key-value-table * {
    margin: 0;
}

dl.key-value-table dt {
    color: var(--sanic-block-alt-text);
    word-break: break-word;
}

dl.key-value-table dd {
    /* Better breaking for cookies header and such */
    word-break: break-all;
}
