/** ErrorPage **/
#enduser {
    max-width: 30em;
    margin: 5em auto 5em auto;
    text-align: justify;
    /*text-justify: both;*/
}

#enduser a {
    color: var(--sanic-blue);
}

#enduser p:last-child {
    text-align: right;
}

summary {
    margin-top: 3em;
    color: var(--sanic-blue);
    cursor: pointer;
}

.tracerite {
    --tracerite-var: var(--sanic-blue);
    --tracerite-val: var(--sanic-text);
    --tracerite-type: var(--sanic-green);
    --tracerite-exception: var(--sanic);
    --tracerite-highlight: var(--sanic-yellow);
    --tracerite-tab: var(--sanic-tab-background);
    --tracerite-tab-text: var(--sanic-tab-text);
}

.tracerite>h3 {
    margin: 0.5rem 0 !important;
}

.tracerite .traceback-labels button {
    font-size: 0.8rem !important;
    line-height: 120% !important;
    background: var(--tracerite-tab) !important;
    color: var(--tracerite-tab-text) !important;
    transition: 0.3s;
    cursor: pointer;
}

.tracerite .traceback-labels {
    padding-top: 5px;
}

.tracerite .traceback-labels button:hover {
    filter: contrast(150%) brightness(120%) drop-shadow(0 -0 2px var(--sanic-tab-shadow));
}

.tracerite .traceback-details mark span {
    background: var(--sanic-highlight-background) !important;
    color: var(--sanic-highlight-text) !important;
}

header {
    background: var(--sanic-header-background);
}

h1 {
    /*margin-left: -1.5rem;  !* Emoji partially in the left margin *!*/
}

h2 {
    margin: 1em 0 0.2em 0;
    font-size: 1.25rem;
    color: var(--sanic-text);
}

dl.key-value-table {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: .3em;
    white-space: pre-wrap;
}

dl.key-value-table * {
    margin: 0;
}

dl.key-value-table dt {
    color: #888;
    word-break: break-word;
}

dl.key-value-table dd {
    word-break: break-all;
    /* Better breaking for cookies header and such */
}

.tracerite .codeline {
    font-family:
        "Fira Code",
        "Source Code Pro",
        Menlo,
        Monaco,
        Consolas,
        Lucida Console,
        monospace;
}
