$sanic: #ff0d68;
$primary: $sanic;
$link: $sanic;
$blue: #0092FF;
$cyan: $blue;
$green: #16DB93;
$yellow: #FFE900;

$menu-item-active-background-color: $sanic;


$green_1: #37ae6f;
$green_2: #16DB93;
$purple: #833FE3;
$dark_1: #1e2024;
$orange: #d98404;


.has-text-purple { color: $purple; }
