.footer {
    a[target=_blank]::after { display: none; }
    margin-bottom: 4rem;
}
@media screen and (max-width: $desktop) {
    .footer .level { align-items: baseline; }
    .footer a { font-size: 0.75em; }
}
.hero {
    .subtitle {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .tagline {
        font-family: Fira Code,Source Code Pro,Menlo,Monaco,Consolas,Lucisa Console,monospace;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2rem
    }
}

.language-sh {
    code {
        display: inline-block;
        &::before {
            content: '▶ '
        }

    }
}

.notification {
    margin-top: 2rem;
    .notification-title {
        font-size: 1.25rem;
        font-weight: 700;
    }
    &.is-note {
        background-color: $purple;
        color: $white;
    }
}

.ol, .ul,
.list {
    margin: 1rem 0;
    .li,
    .list-item {
        padding: 0.5rem 0;
    }
}
.ul .li {
    margin-left: 1.5rem;
    list-style-type: disc;
}
.introduction-table {
    margin: 2rem 0;
    a[target=_blank]::after { display: none; }
    th { display: none; }
}

.docobject {
    h2 :last-child { color: $dark; }
    .function-signature {
        color: $dark_1;

        .param-name {
            color: $primary;
            font-weight: bold;
        }
        .param-default {
            color: $purple;
            font-style: italic;
        }
        .function-decorator {
            font-style: italic;
            color: $grey
        }
        .param-annotation { color: $blue; }
        .return-annotation { color: $green_1; }

    }

    dl {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    dt {
        flex: 0 0 25%;
        padding: 5px 10px;
        font-weight: bold;
        color: $blue;
    }
    dd {
        flex: 1;
        padding: 5px 10px;
        margin: 0;
    }

    .long-description {
        div.highlight + p,
        p + div.highlight { margin-top: 1rem; }
    }

    .method {
        padding-left: 1rem;

        h3 { margin-left: -1rem; }
    }

    .ol, .ul, .list { margin: 1rem; }
}

@media (prefers-color-scheme: dark) {
    .docobject {
        h2 :last-child { color: $white-bis; }
        .function-signature {
            color: $grey-light;
            .param-default { color: $yellow; }
        }
    }
}
