name: Coverage check
on:
  push:
    branches:
      - main
      - current-release
      - "*LTS"
    tags:
      - "!*" # Do not execute on tags
  pull_request:
    branches:
      - main
      - current-release
      - "*LTS"

jobs:
  coverage:
    name: Check coverage
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Run tests with coverage
        run: uv run --python 3.13 nox -s tests-3.13
      - name: Generate coverage XML
        run: uv run --python 3.13 nox -s coverage_xml
        if: success()
      - name: Run Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          fail_ci_if_error: false
