name: Python PyPy Tests
on:
  workflow_dispatch:
    inputs:
      tox-env:
        description: 'Tox Env to run on the PyPy Infra'
        required: false
        default: 'pypy37'
      pypy-version:
        description: 'Version of PyPy to use'
        required: false
        default: 'pypy-3.7'
jobs:
  testPyPy:
    name: ut-${{ matrix.config.tox-env }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        config:
          - { python-version: "${{ github.event.inputs.pypy-version }}", tox-env: "${{ github.event.inputs.tox-env }}" }
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v2
        id: checkout-branch

      - name: Run Unit Tests
        uses: harshanarayana/custom-actions@main
        with:
          python-version: ${{ matrix.config.python-version }}
          test-infra-tool: tox
          test-infra-version: latest
          action: tests
          test-additional-args: "-e=${{ matrix.config.tox-env }}"
          experimental-ignore-error: "true"
