name: Python 3.7 Tests
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  testPy37:
    name: ut-${{ matrix.config.tox-env }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
#         os: [ubuntu-latest, macos-latest]
        os: [ubuntu-latest]
        config:
          - { python-version: 3.7, tox-env: py37 }
          - { python-version: 3.7, tox-env: py37-no-ext }
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v2
        id: checkout-branch

      - name: Run Unit Tests
        uses: harshanarayana/custom-actions@main
        with:
          python-version: ${{ matrix.config.python-version }}
          test-infra-tool: tox
          test-infra-version: latest
          action: tests
          test-additional-args: "-e=${{ matrix.config.tox-env }}"
          test-failure-retry: "3"
