name: PR tests

on:
  pull_request:
    branches:
      - main
      - current-release
      - "*LTS"
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  run_pr_tests:
    name: "${{ matrix.platform == 'windows-latest' && 'Windows' || 'Linux' }} / Python ${{ matrix.config.python-version }} / tox -e ${{ matrix.config.tox-env }}"
    if: github.event.pull_request.draft == false
    runs-on: ${{ matrix.platform || 'ubuntu-latest' }}
    strategy:
      fail-fast: true
      matrix:
        config:
          - { python-version: "3.8",  tox-env: security }
          - { python-version: "3.9",  tox-env: security }
          - { python-version: "3.10", tox-env: security }
          - { python-version: "3.11", tox-env: security }
          - { python-version: "3.10", tox-env: lint }
          - { python-version: "3.10", tox-env: docs }
          - { python-version: "3.8",  tox-env: type-checking }
          - { python-version: "3.9",  tox-env: type-checking }
          - { python-version: "3.10", tox-env: type-checking }
          - { python-version: "3.11", tox-env: type-checking }
          - { python-version: "3.8",  tox-env: py38,          max-attempts: 3 }
          - { python-version: "3.8",  tox-env: py38-no-ext,   max-attempts: 3 }
          - { python-version: "3.9",  tox-env: py39,          max-attempts: 3 }
          - { python-version: "3.9",  tox-env: py39-no-ext,   max-attempts: 3 }
          - { python-version: "3.10", tox-env: py310,         max-attempts: 3 }
          - { python-version: "3.10", tox-env: py310-no-ext,  max-attempts: 3 }
          - { python-version: "3.11", tox-env: py311,         max-attempts: 3 }
          - { python-version: "3.11", tox-env: py311-no-ext,  max-attempts: 3 }
          - { python-version: "3.8",  tox-env: py38-no-ext,   platform: windows-latest, ignore-errors: true }
          - { python-version: "3.9",  tox-env: py39-no-ext,   platform: windows-latest, ignore-errors: true }
          - { python-version: "3.10", tox-env: py310-no-ext,  platform: windows-latest, ignore-errors: true }
          - { python-version: "3.11", tox-env: py310-no-ext,  platform: windows-latest, ignore-errors: true }
    steps:
      - name: Echo platform
        run: |
          echo "Platform: ${{ matrix.platform || 'ubuntu-latest' }}"
          echo "${{ matrix.platform == 'windows-latest' && 'Windows' || 'Linux' }}"

      - name: Run tests
        uses: prryplatypus/simple-tox@main
        with:
          python-version: ${{ matrix.config.python-version }}
          tox-env: ${{ matrix.config.tox-env }}
          max-attempts: ${{ matrix.max-attempts || 1 }}
          ignore-errors: ${{ matrix.ignore-errors || false }}
